* {
  
    font-family: "Lucida Console", "Courier New", monospace;

}

.dom {
    background-color: #daefe1
}

.body {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #d2d5d3;
    width: 40rem;
    height: 37rem;
    border-radius: .5rem;
    border: 1px solid #c1dccd;



}

.title {
    display: grid;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 3rem;

}

.monitor {
    display: grid;
    grid-template-columns: 65% 25%;
    justify-content: space-evenly;

}

.keys {
    margin-top: 3rem;
    margin-left: .5rem;
    margin-right: .5rem;
    display: grid;
    grid-template-columns: repeat(4, 25.5%);
    justify-content: space-evenly;


}

.input {
    margin-top: 1.5rem;
    height: 3rem;
    border-radius: .5rem;
    border: 1px solid #0e0e0c;
    font-size: 1.5rem;
    padding: .5rem;

}

.num {
    border: 1px solid rgb(182, 194, 194);
    background-color: #262724;
    border-radius: .5rem;
    margin: .5rem;
    display: grid;
    color: wheat;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    height: 3.5rem;
    font-weight: bold;
    transition: all .5s;


}

.num-2 {
    background-color: rgb(231, 157, 38);
    border: 1px solid rgb(255, 157, 0);
    color: #0e0e0c;

}


.num:hover {
    /* color: wheat; */
    background-color: #0b1002;

}

.num-2:hover {
    /* color: aliceblue; */
    background-color: rgb(252, 157, 5);

}

.footer-contanert {
    /* background-color: #6e7470; */
    height: 5rem;
    margin-top: rem;
    width: 100%;
    display: grid;
    justify-content: center;
    font-weight: bold;

}

.footer__copy {
    margin-top: 2rem;
}